apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Release.Name }}
  labels:
    app: mi-app
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: mi-app
  template:
    metadata:
      labels:
        app: mi-app
    spec:
      containers:
        - name: mi-app-container
          image: nginx:latest
          ports:
            - containerPort: 80
          env:
            - name: NODE_ENV
              value: {{ .Values.env.NODE_ENV | quote }}