name: Deploy to Kubernetes

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout código
      uses: actions/checkout@v4

    - name: Configurar kubectl
      run: |
        # Creamos la carpeta por si no existe (buena práctica)
        mkdir -p ~/.kube
        # Decodificamos el secreto y lo guardamos directamente en la ruta default
        echo "${{ secrets.KUBE_CONFIG }}" | base64 -d > ~/.kube/config
        # Verificamos la conexión
        kubectl cluster-info

    - name: Instalar Helm
      run: |
        curl https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3 | bash

    # - name: Deploy con Helm
    #   run: |
    #     export KUBECONFIG=$PWD/kubeconfig
    #     helm upgrade --install mi-app ./charts/mi-app \
    #       --namespace default \
    #       --create-namespace \
    #       --wait
    - name: Deploy a Dev
      if: github.ref == 'refs/heads/develop'
      run: |
        helm upgrade --install mi-app-dev ./charts/mi-app \
        --values ./charts/mi-app/values-dev.yaml \
        --namespace dev \
        --create-namespace

    - name: Deploy a Prod  
      if: github.ref == 'refs/heads/main'
      run: |
        helm upgrade --install mi-app-prod ./charts/mi-app \
        --values ./charts/mi-app/values-prod.yaml \
        --namespace prod \
        --create-namespace

    - name: Verificar deploy
      run: |
        export KUBECONFIG=$PWD/kubeconfig
        kubectl get pod
        kubectl get services        